@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700;800&family=Open+Sans:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply py-4 px-8 font-bold rounded-md relative z-10 transition-all ease-linear duration-300 before:block before:absolute before:right-0 before:top-0 before:w-full before:h-full before:rounded-md before:bg-black before:-z-10 before:opacity-0 before:transition-all before:ease-linear before:duration-300 before:scale-y-100 hover:before:opacity-100 hover:before:scale-x-100 hover:before:scale-y-100;
  }

  .button-red {
    @apply bg-red-500 text-white hover:text-white;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Jost', 'Open Sans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
